In [1]:
import os
import gc
import cv2
import random
import io

import fastai
from fastai.vision import *
from fastai.callbacks import *

from sklearn.model_selection import train_test_split, StratifiedKFold

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
train_df = pd.read_csv(os.path.join('..', 'input', 'train.csv'))

In [39]:
train_df.head()

,ImageId,ClassId,EncodedPixels,is_null,ClassId_is_null
0,0002cc93b.jpg,1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,False,1
1,0002cc93b.jpg,2,NaN,True,0
2,0002cc93b.jpg,3,NaN,True,0
3,0002cc93b.jpg,4,NaN,True,0
4,00031f466.jpg,1,NaN,True,0

In [38]:
train_df['ClassId_is_null'] = train_df[['ClassId', 'is_null']].apply(lambda x: x['ClassId'] if not x['is_null'] else 0, axis=1)

In [55]:
train_idx, valid_idx, train_y, valid_y = train_test_split(train_df, train_df['ClassId_is_null'].values, test_size=0.2, random_state=43)

In [56]:
train_idx['ClassId_is_null'].value_counts()

0    34524
3     4130
1      710
4      650
2      203
Name: ClassId_is_null, dtype: int64

In [57]:
valid_idx['ClassId_is_null'].value_counts()

0    8653
3    1020
1     187
4     151
2      44
Name: ClassId_is_null, dtype: int64

In [51]:
train_df['ClassId_is_null'].value_counts()

0    43177
3     5150
1      897
4      801
2      247
Name: ClassId_is_null, dtype: int64

In [59]:
train_df.shape

(50272, 5)

In [60]:
train_df.to_csv('../input/train.csv', index=False)

In [64]:
train_df = train_df.pivot(index='ImageId',columns='ClassId',values='EncodedPixels')
train_df['defects'] = train_df.count(axis=1)

In [65]:
train_df.head()

ClassId,1,2,3,4,defects
ImageId,,,,,
0002cc93b.jpg,29102 12 29346 24 29602 24 29858 24 30114 24 3...,NaN,NaN,NaN,1
00031f466.jpg,NaN,NaN,NaN,NaN,0
000418bfc.jpg,NaN,NaN,NaN,NaN,0
000789191.jpg,NaN,NaN,NaN,NaN,0
0007a71bf.jpg,NaN,NaN,18661 28 18863 82 19091 110 19347 110 19603 11...,NaN,1

In [73]:
train_df[train_idx.index.values]

KeyError: '[27618 50116 31302 45414 ... 18448 40753 19776 14148] not in index'

In [71]:
train_idx

,ImageId,ClassId,EncodedPixels,is_null,ClassId_is_null
27618,8c26ebe1f.jpg,3,NaN,True,0
50116,ff1020719.jpg,1,NaN,True,0
31302,9f88a11c0.jpg,3,NaN,True,0
45414,e6a44cda3.jpg,3,134119 26 134324 77 134529 128 134734 179 1349...,False,3
49928,fe2136368.jpg,1,NaN,True,0
22972,74016c897.jpg,1,NaN,True,0
18466,5dd5484fc.jpg,3,218 39 474 39 730 39 985 40 1241 40 1497 40 17...,False,3
47226,efe30162b.jpg,3,62341 1 62465 1 62595 5 62721 2 62849 9 62977 ...,False,3
29004,9345f1250.jpg,1,NaN,True,0
7191,23f0398a4.jpg,4,NaN,True,0
3282,10cc0c97a.jpg,3,NaN,True,0
11749,3ae9dc676.jpg,2,NaN,True,0
875,049bad998.jpg,4,NaN,True,0
2305,0bda9a0eb.jpg,2,NaN,True,0
45632,e7aec2b3d.jpg,1,NaN,True,0
39838,ca30909ec.jpg,3,NaN,True,0
27543,8bc5aeca3.jpg,4,123831 10 124085 14 124340 15 124595 17 124851...,False,4
17626,59e4baab6.jpg,3,177600 63 177731 188 177924 251 178180 251 178...,False,3
28605,91222b4c9.jpg,2,NaN,True,0
49175,fa80cdac8.jpg,4,NaN,True,0
10822,36789516a.jpg,3,184200 4 184452 11 184703 19 184955 26 185206 ...,False,3
25342,8059001d1.jpg,3,NaN,True,0
16173,5227eaed2.jpg,2,NaN,True,0
36857,badc586ae.jpg,2,NaN,True,0
43713,dddb213a1.jpg,2,NaN,True,0
18025,5bba33b04.jpg,2,NaN,True,0
31078,9e467cb05.jpg,3,660 57 916 57 1172 57 1428 57 1684 57 1940 57 ...,False,3
22884,739ff7b44.jpg,1,NaN,True,0
9524,2feb3983d.jpg,1,NaN,True,0
41141,d0ba35b7f.jpg,2,NaN,True,0
...,...,...,...,...,...
24892,7dfc8b64d.jpg,1,NaN,True,0
37578,be3f5118b.jpg,3,NaN,True,0
24608,7c5918274.jpg,1,NaN,True,0
10927,370b998e7.jpg,4,NaN,True,0
45784,e868908d6.jpg,1,NaN,True,0
24268,7a92ccc07.jpg,1,NaN,True,0
25461,80ed788e8.jpg,2,NaN,True,0
10480,34f8faf6d.jpg,1,NaN,True,0
23332,75ab0593e.jpg,1,NaN,True,0
32900,a72c797c1.jpg,1,NaN,True,0
44917,e4329f291.jpg,2,NaN,True,0
706,0399d7c46.jpg,3,NaN,True,0
25419,80adf1a29.jpg,4,NaN,True,0
48674,f7c7f6fc7.jpg,3,NaN,True,0
42351,d6d71b8ec.jpg,4,NaN,True,0
29131,9408e6bdb.jpg,4,NaN,True,0
379,01d590c5f.jpg,4,NaN,True,0
44927,e43b67340.jpg,4,NaN,True,0
29475,95aff808c.jpg,4,NaN,True,0
45376,e66ed68e9.jpg,1,NaN,True,0
39767,c9b12b9d3.jpg,4,NaN,True,0
38302,c262b89bb.jpg,3,NaN,True,0
16322,52f589500.jpg,3,125815 13 126071 38 126327 64 126583 89 126839...,False,3
28507,909f679d2.jpg,4,NaN,True,0
5307,1ada6a7ac.jpg,4,NaN,True,0
25233,7fb0c3636.jpg,2,NaN,True,0
18448,5db4d2daa.jpg,1,NaN,True,0
40753,ce817d720.jpg,2,NaN,True,0
19776,644f9c71d.jpg,1,237349 2 237604 7 237859 13 238114 18 238370 2...,False,1
14148,47a18bd61.jpg,1,16470 8 16710 24 16958 32 17214 32 17470 32 17...,False,1